In [1]:
import pandas as pd
import numpy as np
import requests
import json

In [13]:
# Global variables :) 
# We'll save the mapping in a python dictionary, kind of like a cache so that we don't continuously hit the google API
lat_lng_mapping = {}

def create_latlng_mapping(column):
    for county in column:
        if county in lat_lng_mapping:
            continue
        cache(county)
        
# Can manually call the cache function to try to get latlng of a location
def cache(location):
    
    countyLookUp = location.lower().split(",")[0] + " New York"
    lat_lng_mapping[location] = {"lat": -1, "lng": -1}
    resp = requests.get('https://maps.googleapis.com/maps/api/geocode/json', params={'address': countyLookUp, 'key': ' AIzaSyB5YqK2Po4xXDlDERlenKSug9SOGNzmfPU'})
    latlng_json = json.loads(resp.text)
    if latlng_json['status'] == 'ZERO_RESULTS' or latlng_json['status'] != 'OK':
        print("Found no results for: {}".format(location))
    try:
        chosen_result = latlng_json["results"][0]
        latlng = chosen_result['geometry']['location']
        lat_lng_mapping[location] = latlng
        return latlng
    except KeyError:
        print("Geolocation data is for: {}".format(location))
    except IndexError:
        print("Geolocation data is missing for: {}".format(location))

# Fix Lat Lng for food inspections

In [23]:
df = pd.read_csv("waterloo_datathon_datasets/count_food_inspections_with_counties_lat_long.csv")

create_latlng_mapping(df["city"])

In [26]:
df["lat_new"] = df["city"].apply(lambda item: lat_lng_mapping[item]["lat"])
df["lng_new"] = df["city"].apply(lambda item: lat_lng_mapping[item]["lng"])

In [28]:
df.to_csv("waterloo_datathon_datasets/count_food_inspections_with_counties_lat_long_fixed.csv")

# Calculate Lat Lng for the demographics dataset

In [19]:
df = pd.read_csv("waterloo_datathon_datasets/demographics_cleaned.csv")

print(df["geography"])
create_latlng_mapping(df["geography"])

0            Albany
1          Allegany
2             Bronx
3            Broome
4       Cattaraugus
5            Cayuga
6        Chautauqua
7           Chemung
8          Chenango
9           Clinton
10         Columbia
11         Cortland
12         Delaware
13         Dutchess
14             Erie
15            Essex
16         Franklin
17           Fulton
18          Genesee
19           Greene
20         Hamilton
21         Herkimer
22        Jefferson
23            Kings
24            Lewis
25       Livingston
26          Madison
27           Monroe
28       Montgomery
29           Nassau
           ...
342          Oneida
343        Onondaga
344         Ontario
345          Orange
346         Orleans
347          Oswego
348          Otsego
349          Putnam
350          Queens
351      Rensselaer
352        Richmond
353        Rockland
354    St. Lawrence
355        Saratoga
356     Schenectady
357       Schoharie
358        Schuyler
359          Seneca
360         Steuben
361         Suffolk
362        Sullivan
363           Tioga
364        Tompkins
365          Ulster
366          Warren
367      Washington
368           Wayne
369     Westchester
370         Wyoming
371           Yates
Name: geography, Length: 372, dtype: object

In [15]:
df

,year,geography,total_households,median_household_income,mean_household_income,mean_earnings,mean_soc_sec,mean_ret_income,mean_supp_sec_income,mean_cash_pub_income,food_stamp_benefits,population,%_9999_or_less,%_150000_or_more,%_health_insurance,%_private_coverage,%_public_coverage
0,2016,Albany,124108,60904,81603,83232,19131,29496,9341,3743,14305,304048.0,0.061285,0.120637,0.946314,0.781850,0.308313
1,2016,Allegany,18032,44085,54958,54495,17561,19662,9160,3220,2872,47207.0,0.071096,0.030002,0.911983,0.680365,0.390260
2,2016,Bronx,490740,35302,51445,57317,14211,20862,8885,3598,179811,1414859.0,0.156333,0.045391,0.876989,0.434970,0.532936
3,2016,Broome,78738,47744,63302,64554,18249,22972,9310,3492,12867,194413.0,0.077904,0.062803,0.942236,0.689866,0.404083
4,2016,Cattaraugus,31502,43884,55632,56502,17614,18700,9342,2879,5588,77748.0,0.065964,0.034157,0.909091,0.680069,0.408731
5,2016,Cayuga,31039,53114,65579,66822,18117,20376,10148,2977,3990,75490.0,0.059184,0.058668,0.927103,0.721672,0.372592
6,2016,Chautauqua,52718,43211,55820,56322,18130,22205,9517,4112,9948,129115.0,0.084696,0.037615,0.929559,0.657197,0.429052
7,2016,Chemung,34887,49578,64475,67328,17696,21358,9367,3057,5546,84179.0,0.076074,0.064838,0.936540,0.677521,0.408867
8,2016,Chenango,19837,46979,57930,59495,17340,18547,10469,3175,3582,48706.0,0.072390,0.039220,0.931117,0.672710,0.426292
9,2016,Clinton,31648,50502,63804,63140,18305,24391,10340,3360,5760,76963.0,0.071600,0.062942,0.944402,0.718449,0.390032
10,2016,Columbia,25295,59916,80682,78133,19176,27461,9029,3853,2696,60143.0,0.055821,0.103815,0.939261,0.726518,0.381740
11,2016,Cortland,17683,50910,64736,64577,17854,20157,8965,3500,2471,48238.0,0.062659,0.066505,0.941395,0.757764,0.318960
12,2016,Delaware,18817,46055,58038,55265,18201,21261,9264,2470,2905,45975.0,0.078174,0.035287,0.919913,0.669864,0.441501
13,2016,Dutchess,106949,72706,93359,91870,20204,28528,10174,4604,10753,288137.0,0.041805,0.162975,0.933601,0.762026,0.306833
14,2016,Erie,382822,52744,70408,74211,18288,22828,9512,3824,62448,910418.0,0.082020,0.082958,0.951676,0.718653,0.375729
15,2016,Essex,15298,53244,67970,64912,18656,23812,10040,2803,1762,36349.0,0.056609,0.064649,0.931855,0.708135,0.416270
16,2016,Franklin,19299,49782,61437,61794,18026,26643,9155,3426,3510,46172.0,0.100109,0.052283,0.912501,0.658949,0.415512
17,2016,Fulton,22450,46090,59738,61426,17232,22481,9241,2258,3367,53503.0,0.071849,0.046815,0.914379,0.649590,0.429808
18,2016,Genesee,23825,52641,64313,64290,18842,20799,10197,4232,2849,58542.0,0.055320,0.052886,0.938301,0.743125,0.357777
19,2016,Greene,17125,51013,67084,69462,18794,28153,10178,3614,1453,45128.0,0.059504,0.070248,0.933323,0.698569,0.400129
20,2016,Hamilton,1239,52708,62567,54918,19318,28098,12960,2511,103,4669.0,0.058111,0.065375,0.904262,0.692868,0.429642
21,2016,Herkimer,25670,48893,60001,60057,17917,20577,9736,4620,4460,62918.0,0.065602,0.041293,0.923074,0.653295,0.421215
22,2016,Jefferson,43428,49911,62281,61630,17413,22664,8441,3358,7023,105638.0,0.069034,0.046145,0.922064,0.693425,0.369053
23,2016,Kings,938803,50640,75810,83154,15358,22798,9173,3915,224967,2596190.0,0.109889,0.116021,0.892710,0.523764,0.439772
24,2016,Lewis,10307,49976,63802,66252,17635,19425,9808,3401,1723,26714.0,0.055981,0.052780,0.910122,0.689189,0.368646
25,2016,Livingston,24217,52724,64017,65168,18393,21246,10087,3091,3114,62084.0,0.060371,0.050254,0.948360,0.773678,0.331051
26,2016,Madison,26121,55858,70745,73007,18680,22571,9570,3811,3416,71502.0,0.062440,0.074270,0.946547,0.737196,0.345025
27,2016,Monroe,300289,53568,72464,75415,19182,21752,9743,3927,44490,742076.0,0.076693,0.091865,0.948004,0.731232,0.356342
28,2016,Montgomery,19540,44455,58346,58338,17355,20324,9939,3286,3887,48884.0,0.081423,0.042784,0.912344,0.610772,0.452704
29,2016,Nassau,440230,102044,133541,133362,21730,34207,11047,4761,22109,1346876.0,0.029598,0.307644,0.934350,0.800930,0.259463
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,2011,Oneida,91568,48382,61538,63379,15815,20866,8595,3338,12421,NaN,0.074458,0.051612,NaN,NaN,NaN
343,2011,Onondaga,183381,52636,68807,71545,17199,21285,8580,3441,20090,NaN,0.076218,0.075662,NaN,NaN,NaN
344,2011,Ontario,43474,57069,72150,71067,17504,21219,9972,4680,3236,NaN,0.042071,0.071399,NaN,NaN,NaN
345,2011,Orange,124939,70294,86272,86637,17501,25903,8879,4389,9827,NaN,0.046086,0.137763,NaN,NaN,NaN
346,2011,Orleans,15896,47788,56732,55275,17063,19740,9035,3548,2330,NaN,0.054605,0.027302,NaN,NaN,NaN
347,2011,Oswego,45600,47036,58097,59041,16096,18866,7941,3580,5700,NaN,0.081096,0.038553,NaN,NaN,NaN
348,2011,Otsego,24713,45334,57862,55195,16336,23116,8970,2862,2082,NaN,0.080565,0.042690,NaN,NaN,NaN
349,2011,Putnam,34998,92711,111990,110810,19510,27774,10626,4821,953,NaN,0.026287,0.232013,NaN,NaN,NaN
350,2011,Queens,773130,56406,72324,75008,15465,21414,8385,3983,91377,NaN,0.069441,0.092347,NaN,NaN,NaN
351,2011,Rensselaer,63626,56271,70088,70514,16388,23512,8697,3313,6301,NaN,0.062915,0.078348,NaN,NaN,NaN
352,2011,Richmond,163747,72752,88221,91728,17514,29239,8951,4017,15556,NaN,0.061790,0.155917,NaN,NaN,NaN
353,2011,Rockland,98106,84661,107873,107818,19223,33064,10828,5604,6999,NaN,0.035839,0.228956,NaN,NaN,NaN
354,2011,St. Lawrence,41825,43390,54104,54535,15696,19105,9088,3671,5412,NaN,0.085093,0.034357,NaN,NaN,NaN
355,2011,Saratoga,87762,67186,82308,83183,17946,25507,9354,2794,4513,NaN,0.040576,0.107678,NaN,NaN,NaN
356,2011,Schenectady,58203,55587,69316,71003,17147,23349,9083,4437,4960,NaN,0.056062,0.076731,NaN,NaN,NaN
357,2011,Schoharie,12801,50795,62290,62648,16063,19657,9734,2298,1386,NaN,0.058199,0.050934,NaN,NaN,NaN
358,2011,Schuyler,7610,47804,55831,54877,15994,16644,9550,1859,651,NaN,0.045204,0.021945,NaN,NaN,NaN
359,2011,Seneca,13257,47266,57137,56062,15212,18826,8510,2992,1092,NaN,0.054688,0.036962,NaN,NaN,NaN
360,2011,Steuben,41101,44967,57757,59118,16124,18822,8421,3624,4525,NaN,0.071896,0.046082,NaN,NaN,NaN
361,2011,Suffolk,496677,87187,107305,107210,18832,30395,10278,5545,20639,NaN,0.030875,0.205669,NaN,NaN,NaN
362,2011,Sullivan,29432,48303,61937,62327,16591,22881,8950,3974,3140,NaN,0.079743,0.062007,NaN,NaN,NaN
363,2011,Tioga,20458,53789,64292,61898,16879,21203,8856,2713,2047,NaN,0.057728,0.053084,NaN,NaN,NaN
364,2011,Tompkins,38531,49789,67553,66625,17412,25197,9043,3532,3454,NaN,0.103267,0.084893,NaN,NaN,NaN
365,2011,Ulster,70034,58808,75569,74551,16485,23750,8666,3862,6447,NaN,0.053760,0.093397,NaN,NaN,NaN
366,2011,Warren,28392,53877,67353,67293,16808,22163,9286,3667,2616,NaN,0.049662,0.067484,NaN,NaN,NaN
367,2011,Washington,24682,50117,59259,58023,16425,18925,7543,2487,2771,NaN,0.050968,0.039057,NaN,NaN,NaN
368,2011,Wayne,36563,54380,63361,62840,17321,20939,9314,2945,3630,NaN,0.048710,0.045866,NaN,NaN,NaN
369,2011,Westchester,345908,80725,130005,132762,18811,30470,8896,4355,22016,NaN,0.046376,0.253562,NaN,NaN,NaN
370,2011,Wyoming,15549,51312,58742,57786,17019,20311,8742,3310,1241,NaN,0.051193,0.024503,NaN,NaN,NaN
371,2011,Yates,9552,48125,62739,58921,16395,23788,7962,3598,1207,NaN,0.069514,0.053392,NaN,NaN,NaN

In [16]:
df["lat"] = df["geography"].apply(lambda item: lat_lng_mapping[item]["lat"])
df["lng"] = df["geography"].apply(lambda item: lat_lng_mapping[item]["lng"])

In [17]:
df

,year,geography,total_households,median_household_income,mean_household_income,mean_earnings,mean_soc_sec,mean_ret_income,mean_supp_sec_income,mean_cash_pub_income,food_stamp_benefits,population,%_9999_or_less,%_150000_or_more,%_health_insurance,%_private_coverage,%_public_coverage,lat,lng
0,2016,Albany,124108,60904,81603,83232,19131,29496,9341,3743,14305,304048.0,0.061285,0.120637,0.946314,0.781850,0.308313,42.652579,-73.756232
1,2016,Allegany,18032,44085,54958,54495,17561,19662,9160,3220,2872,47207.0,0.071096,0.030002,0.911983,0.680365,0.390260,42.090065,-78.494189
2,2016,Bronx,490740,35302,51445,57317,14211,20862,8885,3598,179811,1414859.0,0.156333,0.045391,0.876989,0.434970,0.532936,40.844782,-73.864827
3,2016,Broome,78738,47744,63302,64554,18249,22972,9310,3492,12867,194413.0,0.077904,0.062803,0.942236,0.689866,0.404083,42.491656,-74.288354
4,2016,Cattaraugus,31502,43884,55632,56502,17614,18700,9342,2879,5588,77748.0,0.065964,0.034157,0.909091,0.680069,0.408731,42.329229,-78.868090
5,2016,Cayuga,31039,53114,65579,66822,18117,20376,10148,2977,3990,75490.0,0.059184,0.058668,0.927103,0.721672,0.372592,42.918956,-76.726340
6,2016,Chautauqua,52718,43211,55820,56322,18130,22205,9517,4112,9948,129115.0,0.084696,0.037615,0.929559,0.657197,0.429052,42.209774,-79.466844
7,2016,Chemung,34887,49578,64475,67328,17696,21358,9367,3057,5546,84179.0,0.076074,0.064838,0.936540,0.677521,0.408867,42.008407,-76.623837
8,2016,Chenango,19837,46979,57930,59495,17340,18547,10469,3175,3582,48706.0,0.072390,0.039220,0.931117,0.672710,0.426292,42.201464,-75.876633
9,2016,Clinton,31648,50502,63804,63140,18305,24391,10340,3360,5760,76963.0,0.071600,0.062942,0.944402,0.718449,0.390032,43.048403,-75.378503
10,2016,Columbia,25295,59916,80682,78133,19176,27461,9029,3853,2696,60143.0,0.055821,0.103815,0.939261,0.726518,0.381740,40.807536,-73.962573
11,2016,Cortland,17683,50910,64736,64577,17854,20157,8965,3500,2471,48238.0,0.062659,0.066505,0.941395,0.757764,0.318960,42.601181,-76.180484
12,2016,Delaware,18817,46055,58038,55265,18201,21261,9264,2470,2905,45975.0,0.078174,0.035287,0.919913,0.669864,0.441501,41.768236,-75.002697
13,2016,Dutchess,106949,72706,93359,91870,20204,28528,10174,4604,10753,288137.0,0.041805,0.162975,0.933601,0.762026,0.306833,41.778437,-73.747786
14,2016,Erie,382822,52744,70408,74211,18288,22828,9512,3824,62448,910418.0,0.082020,0.082958,0.951676,0.718653,0.375729,42.902396,-78.866159
15,2016,Essex,15298,53244,67970,64912,18656,23812,10040,2803,1762,36349.0,0.056609,0.064649,0.931855,0.708135,0.416270,44.310051,-73.352628
16,2016,Franklin,19299,49782,61437,61794,18026,26643,9155,3426,3510,46172.0,0.100109,0.052283,0.912501,0.658949,0.415512,42.340637,-75.165169
17,2016,Fulton,22450,46090,59738,61426,17232,22481,9241,2258,3367,53503.0,0.071849,0.046815,0.914379,0.649590,0.429808,43.322846,-76.417158
18,2016,Genesee,23825,52641,64313,64290,18842,20799,10197,4232,2849,58542.0,0.055320,0.052886,0.938301,0.743125,0.357777,42.046960,-78.270395
19,2016,Greene,17125,51013,67084,69462,18794,28153,10178,3614,1453,45128.0,0.059504,0.070248,0.933323,0.698569,0.400129,42.329241,-75.769915
20,2016,Hamilton,1239,52708,62567,54918,19318,28098,12960,2511,103,4669.0,0.058111,0.065375,0.904262,0.692868,0.429642,42.827014,-75.544624
21,2016,Herkimer,25670,48893,60001,60057,17917,20577,9736,4620,4460,62918.0,0.065602,0.041293,0.923074,0.653295,0.421215,43.025626,-74.985989
22,2016,Jefferson,43428,49911,62281,61630,17413,22664,8441,3358,7023,105638.0,0.069034,0.046145,0.922064,0.693425,0.369053,42.481330,-74.610259
23,2016,Kings,938803,50640,75810,83154,15358,22798,9173,3915,224967,2596190.0,0.109889,0.116021,0.892710,0.523764,0.439772,40.678178,-73.944158
24,2016,Lewis,10307,49976,63802,66252,17635,19425,9808,3401,1723,26714.0,0.055981,0.052780,0.910122,0.689189,0.368646,44.275027,-73.565574
25,2016,Livingston,24217,52724,64017,65168,18393,21246,10087,3091,3114,62084.0,0.060371,0.050254,0.948360,0.773678,0.331051,42.142423,-73.777916
26,2016,Madison,26121,55858,70745,73007,18680,22571,9570,3811,3416,71502.0,0.062440,0.074270,0.946547,0.737196,0.345025,42.884772,-75.504376
27,2016,Monroe,300289,53568,72464,75415,19182,21752,9743,3927,44490,742076.0,0.076693,0.091865,0.948004,0.731232,0.356342,41.304602,-74.182712
28,2016,Montgomery,19540,44455,58346,58338,17355,20324,9939,3286,3887,48884.0,0.081423,0.042784,0.912344,0.610772,0.452704,41.527594,-74.236816
29,2016,Nassau,440230,102044,133541,133362,21730,34207,11047,4761,22109,1346876.0,0.029598,0.307644,0.934350,0.800930,0.259463,42.536635,-73.535854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,2011,Oneida,91568,48382,61538,63379,15815,20866,8595,3338,12421,NaN,0.074458,0.051612,NaN,NaN,NaN,43.092568,-75.651293
343,2011,Onondaga,183381,52636,68807,71545,17199,21285,8580,3441,20090,NaN,0.076218,0.075662,NaN,NaN,NaN,42.978076,-76.247912
344,2011,Ontario,43474,57069,72150,71067,17504,21219,9972,4680,3236,NaN,0.042071,0.071399,NaN,NaN,NaN,43.220943,-77.283379
345,2011,Orange,124939,70294,86272,86637,17501,25903,8879,4389,9827,NaN,0.046086,0.137763,NaN,NaN,NaN,42.340177,-77.033418
346,2011,Orleans,15896,47788,56732,55275,17063,19740,9035,3548,2330,NaN,0.054605,0.027302,NaN,NaN,NaN,44.185140,-75.943187
347,2011,Oswego,45600,47036,58097,59041,16096,18866,7941,3580,5700,NaN,0.081096,0.038553,NaN,NaN,NaN,43.455346,-76.510497
348,2011,Otsego,24713,45334,57862,55195,16336,23116,8970,2862,2082,NaN,0.080565,0.042690,NaN,NaN,NaN,42.740964,-74.991011
349,2011,Putnam,34998,92711,111990,110810,19510,27774,10626,4821,953,NaN,0.026287,0.232013,NaN,NaN,NaN,43.746729,-73.397061
350,2011,Queens,773130,56406,72324,75008,15465,21414,8385,3983,91377,NaN,0.069441,0.092347,NaN,NaN,NaN,40.728224,-73.794852
351,2011,Rensselaer,63626,56271,70088,70514,16388,23512,8697,3313,6301,NaN,0.062915,0.078348,NaN,NaN,NaN,42.642579,-73.742898
352,2011,Richmond,163747,72752,88221,91728,17514,29239,8951,4017,15556,NaN,0.061790,0.155917,NaN,NaN,NaN,42.821480,-77.539013
353,2011,Rockland,98106,84661,107873,107818,19223,33064,10828,5604,6999,NaN,0.035839,0.228956,NaN,NaN,NaN,41.945366,-74.912940
354,2011,St. Lawrence,41825,43390,54104,54535,15696,19105,9088,3671,5412,NaN,0.085093,0.034357,NaN,NaN,NaN,44.447314,-74.930206
355,2011,Saratoga,87762,67186,82308,83183,17946,25507,9354,2794,4513,NaN,0.040576,0.107678,NaN,NaN,NaN,43.044848,-73.630073
356,2011,Schenectady,58203,55587,69316,71003,17147,23349,9083,4437,4960,NaN,0.056062,0.076731,NaN,NaN,NaN,42.814243,-73.939569
357,2011,Schoharie,12801,50795,62290,62648,16063,19657,9734,2298,1386,NaN,0.058199,0.050934,NaN,NaN,NaN,42.689542,-74.335286
358,2011,Schuyler,7610,47804,55831,54877,15994,16644,9550,1859,651,NaN,0.045204,0.021945,NaN,NaN,NaN,43.096369,-75.084476
359,2011,Seneca,13257,47266,57137,56062,15212,18826,8510,2992,1092,NaN,0.054688,0.036962,NaN,NaN,NaN,42.846691,-77.079470
360,2011,Steuben,41101,44967,57757,59118,16124,18822,8421,3624,4525,NaN,0.071896,0.046082,NaN,NaN,NaN,43.320069,-75.282946
361,2011,Suffolk,496677,87187,107305,107210,18832,30395,10278,5545,20639,NaN,0.030875,0.205669,NaN,NaN,NaN,40.984878,-72.615117
362,2011,Sullivan,29432,48303,61937,62327,16591,22881,8950,3974,3140,NaN,0.079743,0.062007,NaN,NaN,NaN,43.054512,-75.846857
363,2011,Tioga,20458,53789,64292,61898,16879,21203,8856,2713,2047,NaN,0.057728,0.053084,NaN,NaN,NaN,42.109005,-76.386880
364,2011,Tompkins,38531,49789,67553,66625,17412,25197,9043,3532,3454,NaN,0.103267,0.084893,NaN,NaN,NaN,42.107667,-75.294569
365,2011,Ulster,70034,58808,75569,74551,16485,23750,8666,3862,6447,NaN,0.053760,0.093397,NaN,NaN,NaN,41.978512,-73.994756
366,2011,Warren,28392,53877,67353,67293,16808,22163,9286,3667,2616,NaN,0.049662,0.067484,NaN,NaN,NaN,42.887405,-74.944259
367,2011,Washington,24682,50117,59259,58023,16425,18925,7543,2487,2771,NaN,0.050968,0.039057,NaN,NaN,NaN,41.787571,-73.677166
368,2011,Wayne,36563,54380,63361,62840,17321,20939,9314,2945,3630,NaN,0.048710,0.045866,NaN,NaN,NaN,42.470905,-77.105526
369,2011,Westchester,345908,80725,130005,132762,18811,30470,8896,4355,22016,NaN,0.046376,0.253562,NaN,NaN,NaN,41.122019,-73.794852
370,2011,Wyoming,15549,51312,58742,57786,17019,20311,8742,3310,1241,NaN,0.051193,0.024503,NaN,NaN,NaN,42.826450,-78.089733
371,2011,Yates,9552,48125,62739,58921,16395,23788,7962,3598,1207,NaN,0.069514,0.053392,NaN,NaN,NaN,43.334818,-78.406973

In [18]:
df.to_csv("waterloo_datathon_datasets/demographics_cleaned_with_latlng.csv")

# Calculate  Lat Lng for the Environmental Radiation Dataset

In [10]:
df = pd.read_csv("waterloo_datathon_datasets/environmental_radiation.csv")

create_latlng_mapping(df["sample_location"])

Found no results for: SWAMP DRAINAGE TO ERDMAN BROOK
Geolocation data is missing for: SWAMP DRAINAGE TO ERDMAN BROOK
Found no results for: ERDMAN BROOK NORTH OF BURIAL TRENCHES
Geolocation data is missing for: ERDMAN BROOK NORTH OF BURIAL TRENCHES
Found no results for: FRANK'S CREEK - NE OF BURIAL BURIAL TRENCHES
Geolocation data is missing for: FRANK'S CREEK - NE OF BURIAL BURIAL TRENCHES
Found no results for: ERDMAN BROOK DOWNSTREAM OF EQ3
Geolocation data is missing for: ERDMAN BROOK DOWNSTREAM OF EQ3

In [11]:
df["lat"] = df["sample_location"].apply(lambda item: lat_lng_mapping[item]["lat"])
df["lng"] = df["sample_location"].apply(lambda item: lat_lng_mapping[item]["lng"])

In [12]:
df.to_csv("waterloo_datathon_datasets/environmental_radiation_with_latlng.csv")

      location_code sample_type  \
0          5151-001         AIR
1          5151-001         AIR
2          5151-001         AIR
3          5151-001         AIR
4          5151-001         AIR
5          5151-001         AIR
6          5151-001         AIR
7          5151-001         AIR
8          5151-001         AIR
9          5151-001         AIR
10         5151-001         AIR
11         5151-001         AIR
12         5151-001         AIR
13         5151-001         AIR
14         5151-001         AIR
15         5151-001         AIR
16         5151-001         AIR
17         5151-001         AIR
18         5151-001         AIR
19         5151-001         AIR
20         5151-001         AIR
21         5151-001         AIR
22         5151-001         AIR
23         5151-001         AIR
24         5151-001         AIR
25         5151-001         AIR
26         5151-001         AIR
27         5151-001         AIR
28         5151-001         AIR
29         5151-001         AIR
...             ...         ...
20455      2754-001       WATER
20456      2754-001       WATER
20457      2754-001       WATER
20458      2754-001       WATER
20459      2754-001       WATER
20460      2754-001       WATER
20461      2754-001       WATER
20462      2754-001       WATER
20463      2754-001       WATER
20464      2754-001       WATER
20465      2754-001       WATER
20466      2754-001       WATER
20467      2754-001       WATER
20468      2754-001       WATER
20469      2754-001       WATER
20470      2754-001       WATER
20471      2754-001       WATER
20472      2754-001       WATER
20473      2754-001       WATER
20474      2754-001       WATER
20475      2754-001       WATER
20476      2754-001       WATER
20477      2754-001       WATER
20478      2754-001       WATER
20479      2754-001       WATER
20480      2754-001       WATER
20481      2754-001       WATER
20482      2754-001       WATER
20483      2754-001       WATER
20484      2754-001       WATER

                                         sample_location sampling_freq  \
0            BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
1            BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
2            BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
3            BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
4            BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
5            BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
6            BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
7            BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
8            BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
9            BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
10           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
11           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
12           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
13           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
14           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
15           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
16           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
17           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
18           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
19           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
20           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
21           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
22           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
23           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
24           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
25           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
26           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
27           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
28           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
29           BROOKHAVEN NAT'L LAB PERIMETER, STATION P-7        WEEKLY
...                                                  ...           ...
20455  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20456  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20457  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20458  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20459  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20460  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20461  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20462  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20463  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20464  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20465  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20466  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20467  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20468  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20469  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20470  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20471  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20472  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20473  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20474  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20475  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20476  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20477  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20478  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20479  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20480  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20481  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20482  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20483  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY
20484  UPSTREAM OF GINNA - MONROE COUNTY WATER AUTHORITY       MONTHLY

      sampling_date   isotope_name       value       units  graph_value  \
0        2014-12-29     GROSS BETA   6.4+/-1.1  pCi/1000M3          6.4
1        2015-01-05     GROSS BETA  11.1+/-1.4  pCi/1000M3         11.1
2        2015-01-12     GROSS BETA    13+/-1.6  pCi/1000M3         13.0
3        2015-01-19     GROSS BETA  11.3+/-1.5  pCi/1000M3         11.3
4        2015-01-29     GROSS BETA    11+/-1.2  pCi/1000M3         11.0
5        2015-02-02     GROSS BETA   9.5+/-1.8  pCi/1000M3          9.5
6        2015-02-09     GROSS BETA  13.7+/-1.6  pCi/1000M3         13.7
7        2015-02-17     GROSS BETA    14+/-1.6  pCi/1000M3         14.0
8        2015-02-24     GROSS BETA      16+/-2  pCi/1000M3         16.0
9        2015-03-03     GROSS BETA      18+/-2  pCi/1000M3         18.0
10       2015-03-09     GROSS BETA      13+/-2  pCi/1000M3         13.0
11       2015-03-16     GROSS BETA   7.3+/-1.5  pCi/1000M3          7.3
12       2015-03-23     GROSS BETA   9.5+/-1.7  pCi/1000M3          9.5
13       2015-03-30     GROSS BETA  10.1+/-1.7  pCi/1000M3         10.1
14       2015-04-06     GROSS BETA   8.4+/-1.6  pCi/1000M3          8.4
15       2015-04-13     GROSS BETA   6.8+/-1.4  pCi/1000M3          6.8
16       2015-04-20     GROSS BETA  10.9+/-1.8  pCi/1000M3         10.9
17       2015-04-27     GROSS BETA   4.1+/-1.1  pCi/1000M3          4.1
18       2015-05-04     GROSS BETA     2.6+/-1  pCi/1000M3          2.6
19       2015-05-11     GROSS BETA      10+/-2  pCi/1000M3         10.0
20       2015-05-18     GROSS BETA   9.3+/-1.3  pCi/1000M3          9.3
21       2015-05-26     GROSS BETA     7.5+/-1  pCi/1000M3          7.5
22       2015-06-01     GROSS BETA   6.9+/-1.1  pCi/1000M3          6.9
23       2015-06-08     GROSS BETA   2.5+/-0.7  pCi/1000M3          2.5
24       2015-06-15     GROSS BETA   8.9+/-1.2  pCi/1000M3          8.9
25       2015-06-22     GROSS BETA       6+/-1  pCi/1000M3          6.0
26       2015-06-29     GROSS BETA     9+/-1.2  pCi/1000M3          9.0
27       2015-07-02     GROSS BETA   7.2+/-1.1  pCi/1000M3          7.2
28       2015-07-13     GROSS BETA   7.9+/-1.1  pCi/1000M3          7.9
29       2015-07-20     GROSS BETA   7.9+/-1.1  pCi/1000M3          7.9
...             ...            ...         ...         ...          ...
20455    2016-09-19  RUTHENIUM-106         <19       pCi/L          0.0
20456    2016-10-17  RUTHENIUM-106         <16       pCi/L          0.0
20457    2016-11-14  RUTHENIUM-106         <14       pCi/L          0.0
20458    2016-12-12  RUTHENIUM-106         <19       pCi/L          0.0
20459    2016-01-11  TRITIUM (HTO)        <100       pCi/L          0.0
20460    2016-02-08  TRITIUM (HTO)        <120       pCi/L          0.0
20461    2016-03-07  TRITIUM (HTO)        <100       pCi/L          0.0
20462    2016-04-04  TRITIUM (HTO)     90+/-80       pCi/L         90.0
20463    2016-05-02  TRITIUM (HTO)    122+/-77       pCi/L        122.0
20464    2016-05-31  TRITIUM (HTO)   160+/-140       pCi/L        160.0
20465    2016-06-28  TRITIUM (HTO)        <140       pCi/L          0.0
20466    2016-07-25  TRITIUM (HTO)   140+/-130       pCi/L        140.0
20467    2016-08-22  TRITIUM (HTO)        <130       pCi/L          0.0
20468    2016-09-19  TRITIUM (HTO)        <150       pCi/L          0.0
20469    2016-10-17  TRITIUM (HTO)   140+/-120       pCi/L        140.0
20470    2016-11-14  TRITIUM (HTO)        <140       pCi/L          0.0
20471    2016-12-12  TRITIUM (HTO)        <130       pCi/L          0.0
20472    2016-01-11   ZIRCONIUM-95         <50       pCi/L          0.0
20473    2016-02-08   ZIRCONIUM-95          <6       pCi/L          0.0
20474    2016-03-07   ZIRCONIUM-95          <3       pCi/L          0.0
20475    2016-04-04   ZIRCONIUM-95          <3       pCi/L          0.0
20476    2016-05-02   ZIRCONIUM-95          <3       pCi/L          0.0
20477    2016-05-31   ZIRCONIUM-95          <2       pCi/L          0.0
20478    2016-06-28   ZIRCONIUM-95        <1.9       pCi/L          0.0
20479    2016-07-25   ZIRCONIUM-95        <3.6       pCi/L          0.0
20480    2016-08-22   ZIRCONIUM-95        <6.1       pCi/L          0.0
20481    2016-09-19   ZIRCONIUM-95        <4.1       pCi/L          0.0
20482    2016-10-17   ZIRCONIUM-95        <3.7       pCi/L          0.0
20483    2016-11-14   ZIRCONIUM-95        <4.3       pCi/L          0.0
20484    2016-12-12   ZIRCONIUM-95        <2.8       pCi/L          0.0

                                                 comment        lat        lng
0                                                    NaN  40.885835 -72.993297
1                                                    NaN  40.885835 -72.993297
2                                                    NaN  40.885835 -72.993297
3                                                    NaN  40.885835 -72.993297
4                                                    NaN  40.885835 -72.993297
5                                                    NaN  40.885835 -72.993297
6                                                    NaN  40.885835 -72.993297
7                                                    NaN  40.885835 -72.993297
8                                                    NaN  40.885835 -72.993297
9                                                    NaN  40.885835 -72.993297
10                                                   NaN  40.885835 -72.993297
11                                                   NaN  40.885835 -72.993297
12                                                   NaN  40.885835 -72.993297
13                                                   NaN  40.885835 -72.993297
14                                                   NaN  40.885835 -72.993297
15                                                   NaN  40.885835 -72.993297
16                                                   NaN  40.885835 -72.993297
17                                                   NaN  40.885835 -72.993297
18                                                   NaN  40.885835 -72.993297
19                                                   NaN  40.885835 -72.993297
20                                                   NaN  40.885835 -72.993297
21                                                   NaN  40.885835 -72.993297
22                                                   NaN  40.885835 -72.993297
23                                                   NaN  40.885835 -72.993297
24                                                   NaN  40.885835 -72.993297
25                                                   NaN  40.885835 -72.993297
26                                                   NaN  40.885835 -72.993297
27                                                   NaN  40.885835 -72.993297
28                                                   NaN  40.885835 -72.993297
29                                                   NaN  40.885835 -72.993297
...                                                  ...        ...        ...
20455  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20456  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20457  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20458  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20459  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20460  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20461  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20462  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20463  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20464  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20465  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20466  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20467  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20468  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20469  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20470  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20471  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20472  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20473  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20474  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20475  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20476  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20477  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20478  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20479  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20480  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20481  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20482  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20483  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406
20484  Replaced site #5857-006, which was discontinue...  43.141976 -77.567406

[20485 rows x 12 columns]